In [7]:
import pandas as pd
import numpy as np

In [40]:
data = {
    'Name' : ['Rifat','Jahirul','Hoque'],
    'location': ['dhaka','barishal','mathbaria'],
    'Age' : [24,23,13]
}

x = np.array([1,2,3])
y = np.arange(10)

a = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
#b = a[::-1]
#b = a[:2]
b = a[:2,1:]
b

array([[2, 3, 4],
       [6, 7, 8]])

In [4]:
frame = pd.DataFrame(data)
display(frame)

      Name   location  Age
0    Rifat      dhaka   24
1  Jahirul   barishal   23
2    Hoque  mathbaria   13

In [5]:
display(frame[frame.Age < 20])

    Name   location  Age
2  Hoque  mathbaria   13